@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Dancing+Script:wght@400..700&family=Fleur+De+Leah&family=Imperial+Script&family=Kapakana:wght@300..400&family=Lavishly+Yours&family=League+Script&family=Mea+Culpa&family=Monsieur+La+Doulaise&family=MonteCarlo&family=Parisienne&family=Passions+Conflict&family=Petit+Formal+Script&family=Pinyon+Script&family=Rouge+Script&family=Tangerine:wght@400;700&family=WindSong:wght@400;500&display=swap');
