@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Fleur+De+Leah&family=Imperial+Script&family=Kapakana:wght@300..400&family=Lavishly+Yours&family=League+Script&family=Mea+Culpa&family=Monsieur+La+Doulaise&family=MonteCarlo&family=Parisienne&family=Passions+Conflict&family=Petit+Formal+Script&family=Pinyon+Script&family=Playwrite+NZ:wght@100..400&family=Playwrite+US+Trad:wght@100..400&family=Rouge+Script&family=Square+Peg&family=Tangerine:wght@400;700&family=WindSong:wght@400;500&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

.cell {
  @apply border-collapse border border-black p-2;
}
